
.about__content {
  span {
    display: block;
    padding-top: 5%;
  }
}

.about__logo {
  float: right;
  background: url('../../images/KforC.svg') no-repeat center center;
  height: 180px;
  width: 180px;
  background-size: 180px 180px;
  margin-top: 10px;
}
