/**
*
*  Carousel
*
**/

#slides {
  @include cf();
}

.slides--text {
  @include vert-align();
  position: absolute;
  z-index: 3;
  width: 100%;

  .slides--wrap {
    min-width: 50%;
    max-width: 75%;
    margin: 0 auto;
    background-color: $colorBlack;
    border-radius: 0.3em;
    opacity: 0.6;

    h1 {
      text-align: center;
      color: white;
      padding: 0;
    }
  }
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;

  color: white;
}
.slides-navigation a.previous {
  left: 20px;
}
.slides-navigation a.next {
  right: 20px;
}
