/**
*
*  Carousel
*
**/

#landing {
  // @include cf();
  // height: 100%;
}

#slides {
  @include cf();
  // @include center;
}

.slides--text {
  @include vert-align();
  position: absolute;
  z-index: 3;
  width: 100%;
  h1 {
    text-align: center;
    color: white;
  }
}
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 48.5%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;

  color: white;
}
.slides-navigation a.previous {
  left: 10px;
}
.slides-navigation a.next {
  right: 10px;
}
