/**
*
*  Carousel
*
**/

#landing {
  // @include cf();
  // height: 100%;
}

#slides {
  @include cf();
  // @include center;
}

.slides--text {
  position: absolute;
  top: 50%;
  z-index: 4;
}
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;

  color: white;
}
.slides-navigation a.previous {
  left: 10px;
}
.slides-navigation a.next {
  right: 10px;
}
